# Ignore .env
.env

# Ignore the pdfs folder and the output_data folder
pdfs/
output_data/

# Ignore the .git folder
.git/

# Ignore the backuo_json folder
backup_json/

# Ignore all the __pycache__ folders
__pycache__/

# Ignore analysis docs folder
analysis_docs/

# Ignore venv folder
venv/

# Ignore process_orders.py
process_orders.py

# Ignore the analyzing.py
analyzing.py
